.planTable {
  border-radius: 8px;
  overflow: hidden;

  :global(.ant-table-body:last-child) {
    background-color: #fff;
    height: 100vh;
    // padding-bottom: 60px;
  }

  :global {
    .ant-pagination {
      width: 100%;
      height: 60px;
      background-color: #fafbfd;
      border-top: 1px solid #eaeaea;
      margin: 0;
      align-items: center;
      padding-right: 24px;
      padding-left: 24px;
      display: flex;
    }

    .ant-table-container {
      height: calc(100vh - 200px);
      padding: 0 16px;
    }

    .ant-pro-card-body {
      padding: 0;
    }

    .ant-pro-table-list-toolbar-container {
      padding-right: 16px;
    }
  }
}
